<div *ngIf="getClosestEvent()" class="next-event">
  <h2 class="next-event-title">Next Event</h2>
  <div class="next-event-content">
    <div class="team-info" (click)="gotoTeamInfo(getClosestEvent().team1uuid)">
      <img
        [src]="'data:image/png;base64,' + getClosestEvent().team1icon"
        alt="{{ getClosestEvent().team1name }} Icon"
        class="team-icon"
      />
      <span class="team-name">{{ getClosestEvent().team1name }}</span>
    </div>

    <div class="versus">
      <span>vs</span>
      <p class="event-date">{{ getClosestEvent().date | date : "medium" }}</p>
      <p class="event-jour">{{ getClosestEvent().jour }}</p>
    </div>

    <div class="team-info" (click)="gotoTeamInfo(getClosestEvent().team2uuid)">
      <img
        [src]="'data:image/png;base64,' + getClosestEvent().team2icon"
        alt="{{ getClosestEvent().team2name }} Icon"
        class="team-icon"
      />
      <span class="team-name">{{ getClosestEvent().team2name }}</span>
    </div>
  </div>
</div>

<div *ngIf="getLeagues().length === 0" class="no-league">
  <h2 class="esf-title">You're not in any league right now</h2>
  <button class="esf-ibutton" (click)="goToCreateLeague()">
    Create a league
  </button>
</div>

<div *ngIf="getLeagues().length > 0" class="home-content">
  <div *ngFor="let transfer of getTransferPosts()" class="transfer-post">
    <div
      class="transfer-post-header"
      (click)="gotoPlayerInfo(transfer.playeruuid)"
    >
      <img
        [src]="'data:image/png;base64,' + transfer.playericon"
        alt="Player Icon"
        class="player-icon"
      />
      <div class="player-info">
        <h3>{{ transfer.playername }}</h3>
        <p class="transfer-date">{{ transfer.date | date : "medium" }}</p>
      </div>
    </div>

    <div class="transfer-post-body">
      <!-- Ganador -->
      <div class="winner-info">
        <p *ngIf="transfer.prevowneruuid == 'null'">Winning Bid:</p>
        <p *ngIf="transfer.prevowneruuid != 'null'">Transfer:</p>

        <div class="t-box">
          <div *ngIf="transfer.prevowneruuid != 'null'" class="t-info">
            <img
              [src]="'data:image/png;base64,' + transfer.prevownericon"
              alt="Winner Icon"
              class="owner-icon"
            />
            <span>{{ transfer.prevownername }}</span>
          </div>

          <i
            *ngIf="transfer.prevowneruuid != 'null'"
            class="fa-solid fa-arrow-right"
          ></i>

          <div class="t-info">
            <img
              [src]="'data:image/png;base64,' + transfer.bidList[0].usericon"
              alt="Winner Icon"
              class="owner-icon"
            />
            <span>{{ transfer.bidList[0].username }}</span>
          </div>
        </div>

        <span class="bid-amount">{{ transfer.bidList[0].bid | currency }}</span>
      </div>

      <!-- Otras Pujas -->
      <div class="other-bids" *ngIf="transfer.bidList.length > 1">
        <p>Other Bids:</p>
        <div *ngFor="let bid of transfer.bidList.slice(1)" class="bid-info">
          <img
            [src]="'data:image/png;base64,' + bid.usericon"
            alt="Bidder Icon"
            class="owner-icon"
          />
          <span>{{ bid.username }}</span>
          <span class="bid-amount">{{ bid.bid | currency }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="transfer-post welcome-message">
    <div class="transfer-post-header">
      <img
        src="../../assets/icons/trainer.png"
        alt="User Icon"
        class="player-icon"
      />
      <div class="player-info">
        <h3>
          <span class="welcome-text">Welcome to the league</span>
          <span class="league-name"> {{ this.getLeague().leagueName }}</span>
        </h3>
      </div>
    </div>

    <div class="transfer-post-body">
      <div class="welcome-info">
        <p>
          Welcome to our community! 🎉 We're thrilled to have you in the league.
        </p>
        <ul>
          <li>
            📜 <strong>League Rules:</strong> Please make sure to read and
            follow the league rules. This helps everyone enjoy the game fairly.
          </li>
          <li>
            🤝 <strong>Be Respectful:</strong> Treat your fellow league members
            with respect and kindness. Good sportsmanship is key!
          </li>
          <li>
            ⚔️ <strong>Enjoy the Competition:</strong> Give it your all and
            enjoy the thrill of the game. Remember, it's all in good fun!
          </li>
          <li>
            💬 <strong>Get Involved:</strong> Join discussions, share tips, and
            engage with the community. Your participation makes the league
            better for everyone!
          </li>
          <li>
            🏆 <strong>Aim for the Top:</strong> Set your sights on the top of
            the leaderboard and strive to be the best in the league.
          </li>
          <li>
            🎁 <strong>Rewards Await:</strong> Look out for special events and
            rewards throughout the season. Good luck!
          </li>
        </ul>
        <p>
          We hope you have a fantastic time. If you have any questions, don't
          hesitate to reach out. Good luck! 🍀
        </p>
      </div>
    </div>
  </div>
</div>
