<div *ngIf="getLeagues().length > 0" class="home-content">
  <div *ngFor="let transfer of getTransferPosts()" class="transfer-post">
    <div
      class="transfer-post-header"
      (click)="gotoPlayerInfo(transfer.playeruuid)"
    >
      <img
        [src]="'data:image/png;base64,' + transfer.playericon"
        alt="Player Icon"
        class="player-icon"
      />
      <div class="player-info">
        <h3>{{ transfer.playername }}</h3>
        <p class="transfer-date">{{ transfer.date | date : "medium" }}</p>
      </div>
    </div>

    <div class="transfer-post-body">
      <!-- Ganador -->
      <div class="winner-info">
        <!-- Mostrar "Clause" si transfer.clause existe, de lo contrario mostrar "Winning Bid" o "Transfer" -->
        <p *ngIf="transfer.clause">Clause:</p>
        <p *ngIf="!transfer.clause && transfer.prevowneruuid == 'null'">
          Winning Bid:
        </p>
        <p *ngIf="!transfer.clause && transfer.prevowneruuid != 'null'">
          Transfer:
        </p>

        <div class="t-box">
          <!-- Mostrar siempre los usuarios, independientemente de si es clause o no -->
          <div *ngIf="transfer.prevowneruuid != 'null'" class="t-info">
            <img
              [src]="'data:image/png;base64,' + transfer.prevownericon"
              alt="Previous Owner Icon"
              class="owner-icon"
            />
            <span>{{ transfer.prevownername }}</span>
          </div>

          <i
            *ngIf="transfer.prevowneruuid != 'null'"
            class="fa-solid fa-arrow-right"
          ></i>

          <!-- Si existe una cláusula, mostrar el nuevo dueño (newowner) -->
          <div class="t-info" *ngIf="transfer.clause">
            <img
              [src]="'data:image/png;base64,' + transfer.newownericon"
              alt="New Owner Icon"
              class="owner-icon"
            />
            <span>{{ transfer.newownername }}</span>
          </div>

          <!-- Si no es una cláusula, mostrar la puja ganadora -->
          <div
            class="t-info"
            *ngIf="
              !transfer.clause &&
              transfer.bidList &&
              transfer.bidList.length > 0
            "
          >
            <img
              [src]="'data:image/png;base64,' + transfer.bidList[0].usericon"
              alt="Winner Icon"
              class="owner-icon"
            />
            <span>{{ transfer.bidList[0].username }}</span>
          </div>
        </div>

        <!-- Mostrar el valor de la cláusula o la puja -->
        <span class="bid-amount">
          {{
            transfer.clause
              ? (transfer.clause | currency)
              : (transfer.bidList[0]?.bid | currency)
          }}
        </span>
      </div>

      <!-- Otras Pujas -->
      <div
        class="other-bids"
        *ngIf="transfer.bidList && transfer.bidList.length > 1"
      >
        <p>Other Bids:</p>
        <div *ngFor="let bid of transfer.bidList.slice(1)" class="bid-info">
          <img
            [src]="'data:image/png;base64,' + bid.usericon"
            alt="Bidder Icon"
            class="owner-icon"
          />
          <span>{{ bid.username }}</span>
          <span class="bid-amount">{{ bid.bid | currency }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="transfer-post welcome-message">
    <div class="transfer-post-header">
      <img
        src="../../assets/icons/trainer.png"
        alt="User Icon"
        class="player-icon"
      />
      <div class="player-info">
        <h3>
          <span class="welcome-text">Welcome to the league</span>
          <span class="league-name"> {{ this.getLeague().leagueName }}</span>
        </h3>
      </div>
    </div>

    <div class="transfer-post-body">
      <div class="welcome-info">
        <p>
          Welcome to our community! 🎉 We're thrilled to have you in the league.
        </p>
        <ul>
          <li>
            📜 <strong>League Rules:</strong> Please make sure to read and
            follow the league rules. This helps everyone enjoy the game fairly.
          </li>
          <li>
            🤝 <strong>Be Respectful:</strong> Treat your fellow league members
            with respect and kindness. Good sportsmanship is key!
          </li>
          <li>
            ⚔️ <strong>Enjoy the Competition:</strong> Give it your all and
            enjoy the thrill of the game. Remember, it's all in good fun!
          </li>
          <li>
            💬 <strong>Get Involved:</strong> Join discussions, share tips, and
            engage with the community. Your participation makes the league
            better for everyone!
          </li>
          <li>
            🏆 <strong>Aim for the Top:</strong> Set your sights on the top of
            the leaderboard and strive to be the best in the league.
          </li>
          <li>
            🎁 <strong>Rewards Await:</strong> Look out for special events and
            rewards throughout the season. Good luck!
          </li>
        </ul>
        <p>
          We hope you have a fantastic time. If you have any questions, don't
          hesitate to reach out. Good luck! 🍀
        </p>
      </div>
    </div>
  </div>
</div>
