@import "../credentials.scss";

.container1 {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 10%, #ffffff 60%),
    url("../../../assets/phonedesign.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
