<header>
  <a class="logo" (click)="goToHome()" style="cursor: pointer;">
    <img src="../../assets/logo.png" alt="Logo" />
  </a>

  <button class="ham" (click)="toggleHam()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
  </button>

  <nav class="navegation-menu" [ngClass]="{ visible: openHam }">
    <button class="ham-close" (click)="toggleHam()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>

    <ul class="nav-list" *ngIf="!getLoggedIn()">
      <li><button mat-button (click)="goToHome()">HOME</button></li>
      <li>
        <button mat-button (click)="goToTeamsPrevisualizer()">TEAMS</button>
      </li>
      <li>
        <button mat-button (click)="goToPlayersPrevisualizer()">PLAYERS</button>
      </li>
      <li>
        <button mat-button (click)="goToContact()">CONTACT</button>
      </li>
      <li *ngIf="!getLoggedIn()">
        <button mat-raised-button color="primary" style="color: white;" (click)="goToLogin()">LOGIN</button>
      </li>
    </ul>

    <ul class="nav-list-logged" *ngIf="getLoggedIn()">
      <li>
        <button mat-button (click)="goToHome()">
          <i class="fa-solid fa-house"></i> <span>HOME</span>
        </button>
      </li>
      <li *ngIf="getLeagues().length !== 0">
        <button mat-button (click)="goToTeam()">
          <i class="fa-solid fa-users"></i> <span>TEAM</span>
        </button>
      </li>
      <li *ngIf="getLeagues().length !== 0">
        <button mat-button (click)="goToPlayersPage()">
          <i class="fa-solid fa-user-plus"></i> <span>PLAYERS</span>
        </button>
      </li>
      <li *ngIf="getLeagues().length !== 0">
        <button mat-button (click)="goToMatchs()">
          <i class="fa-regular fa-calendar"></i> <span>MATCHS</span>
        </button>
      </li>
      <li *ngIf="getLeagues().length !== 0">
        <button mat-button (click)="goToMarket()">
          <i class="fa-solid fa-money-bill-transfer"></i> <span>MARKET</span>
        </button>
      </li>
      <li *ngIf="getLeagues().length !== 0">
        <button mat-button (click)="goToRanking()">
          <i class="fa-solid fa-trophy"></i> <span>RANKING</span>
        </button>
      </li>

      <img
        *ngIf="getLoggedIn()"
        [src]="getPfpUrl()"
        alt="Perfil"
        (click)="goToUserPage()"
      />
    </ul>
  </nav>
</header>
