<header>
  <img class="logo" src="../../assets/logo.png" alt="Logo" />

  <button class="ham" (click)="toggleHam()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
  </button>

  <nav class="navegation-menu" [ngClass]="{ visible: openHam }">
    <button class="ham-close" (click)="toggleHam()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>

    <ul class="nav-list" *ngIf="!getLoggedIn()">
      <li><button class="esf-sbutton" (click)="goToHome()">HOME</button></li>
      <li>
        <button class="esf-sbutton" (click)="goToMatchs()">MATCHS</button>
      </li>
      <li>
        <button class="esf-sbutton" (click)="goToMarket()">MARKET</button>
      </li>
      <li><button class="esf-sbutton">CONTACT</button></li>
      <li *ngIf="!getLoggedIn()">
        <button class="esf-ibutton" (click)="goToLogin()">LOGIN</button>
      </li>

      <img *ngIf="getLoggedIn()" [src]="getPfpUrl()" alt="Perfil" />
    </ul>

    <ul class="nav-list-logged" *ngIf="getLoggedIn()">
      <li>
        <a (click)="goToHome()"
          ><i class="fa-solid fa-house"></i> <span>HOME</span></a
        >
      </li>
      <li>
        <a (click)="goToTeam()"
          ><i class="fa-solid fa-users"></i> <span>TEAM</span></a
        >
      </li>
      <li>
        <a (click)="goToMatchs()"
          ><i class="fa-solid fa-computer"></i> <span>MATCHS</span></a
        >
      </li>
      <li>
        <a (click)="goToMarket()"
          ><i class="fa-solid fa-money-bill-transfer"></i>
          <span>MARKET</span></a
        >
      </li>
      <li>
        <a (click)="goToRanking()"
          ><i class="fa-solid fa-trophy"></i> <span>RANKING</span></a
        >
      </li>

      <img
        *ngIf="getLoggedIn()"
        [src]="getPfpUrl()"
        alt="Perfil"
        (click)="goToUserPage()"
      />
    </ul>
  </nav>
</header>
