<div class="modal-container">
  <div class="container1"></div>

  <div class="logreg">
    <div class="logreg-text">
      <h1>Log in</h1>
      <h1>eSports Fantasy</h1>
    </div>

    <div class="logreg-form">
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="emailInput"
        [ngClass]="{
          'error-input': unvalidEmail,
          'no-error-input': !unvalidEmail
        }"
        (focus)="cleanFormSelections()"
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="passwordInput"
        [ngClass]="{
          'error-input': unvalidPassword,
          'no-error-input': !unvalidPassword
        }"
        (focus)="cleanFormSelections()"
      />

      <div class="logreg-form-buttons">
        <button class="esf-ibutton" (click)="login()">Start</button>
        <asl-google-signin-button
          type="standard"
          size="large"
          theme="filled_blue"
          class="google-button"
        >
          continue_with
        </asl-google-signin-button>
      </div>
    </div>

    <div class="error-box esf-followedV">
      <p *ngIf="errorMessage != ' '">{{ errorMessage }}</p>
      <p *ngIf="errorMessage == ' '">&nbsp;</p>
    </div>

    <p class="signup-text esf-followedV">
      Don't have an account yet?&nbsp;<span (click)="goToRegister()"
        >signup</span
      >
    </p>
  </div>
</div>
