@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(
  (
    50: #ffe6d9,
    100: #ffccad,
    200: #ffb280,
    300: #ff974d,
    400: #ff7d26,
    500: #ff5900,
    600: #e65000,
    700: #cc4600,
    800: #b33d00,
    900: #993300,
    A100: #ffd6cc,
    A200: #ffad99,
    A400: #ff8566,
    A700: #ff704d,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
