/* You can add global styles to this file, and also import other style files */

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body{
    margin: 0;
}

$mobilepx: 768px; //if change this, change it in utils.service too.




.esf-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;

  
}

.esf-text{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}


.esf-sbutton{
  font-family: "Montserrat", sans-serif;
  border-radius: 20px; 
  line-height: 24px;
  letter-spacing: .02em; 
  border: none; 
  position: relative; 
  cursor: pointer; 
  color: #000;
  background: #EF996A;
  padding: 2px 0.6em;
  font-size: 14px; 

}


.esf-buttonhover{
  background: #e55000;
}

.esf-ibutton{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    border-radius: 20px; 
    line-height: 24px;
    letter-spacing: .02em; 
    border: none; 
    position: relative; 
    cursor: pointer; 
    color: #fff;
    background: #FF5900;
    padding: 10px 5em;
    font-weight: bolder;
    font-size: 16px; 
  }

  .esf-ibutton-followedH{
    margin-left: 50px;
  }

  .esf-followedV{
    margin-top: 15px;
  }

  .esf-buttonhover{
    background: #e55000;
  }