<!-- playerinfo.component.html -->
<div class="player-card-container">
  <div class="player-header">
    <img
      [src]="'data:image/png;base64,' + playerInfo.icon"
      alt="Player Icon"
      class="player-icon"
    />
    <h1 class="player-username">{{ playerInfo.username }}</h1>
  </div>
  <div class="player-details">
    <div class="player-detail name">
      <p>{{ playerInfo.fullName }}</p>
    </div>

    <div class="player-detail-block">
      <div class="player-detail-block-col">
        <strong>Price</strong>
        {{
          playerInfo.price | esfcurrency : "USD" : "symbol" : "1.2-2" : "en-US"
        }}
      </div>
      <div class="player-detail-block-col">
        <strong>Clause</strong>
        {{
          playerInfo.clause | esfcurrency : "USD" : "symbol" : "1.2-2" : "en-US"
        }}
      </div>
    </div>

    <div class="player-detail">
      <img
        *ngIf="checkImageExists(playerInfo)"
        [ngClass]="{
          'role-icon': checkImageExists(playerInfo),
          'role-icon-unknown': !checkImageExists(playerInfo)
        }"
        [src]="'assets/positions-icons/' + playerInfo.role + '.webp'"
        [alt]="playerInfo.role"
        class="role-icon"
      />
    </div>

    <div class="player-detail">
      <div *ngFor="let team of teamListInfo" class="team-info">
        <img
          [src]="'data:image/png;base64,' + team.icon"
          alt="Team Icon"
          class="team-icon"
          (click)="navigateToTeamInfo(team.uuid)"
        />
      </div>
    </div>
  </div>

  <div class="player-points-list">
    <h2>Point History</h2>
    <div *ngFor="let point of playerInfo.playerPoints" class="player-point">
      <div class="event">{{ point.event }}</div>
      <div
        class="points"
        [ngClass]="{
          'points-red': point.points > 0 && point.points <= 30,
          'points-orange': point.points > 30 && point.points <= 50,
          'points-green': point.points > 50,
          'points-gray': point.points === 0
        }"
      >
        {{ point.points }}
      </div>
    </div>
    <div *ngIf="playerInfo.playerPoints.length === 0" class="no-points">
      No points history available
    </div>
  </div>

  <!-- Clause Option Section -->
  <div
    *ngIf="
      playerInfo.ownerUsername != 'null' &&
      playerInfo.ownerIcon != 'null' &&
      playerInfo.ownerUUID != credentialsService.getUserUUID() &&
      activeClause()
    "
    class="clause-option"
  >
    <h2>Clause Option</h2>
    <div class="owner-info">
      <img
        [src]="'data:image/png;base64,' + playerInfo.ownerIcon"
        alt="Owner Icon"
        class="owner-icon"
      />
      <span class="owner-username">{{ playerInfo.ownerUsername }}</span>
    </div>
    <button
      mat-raised-button
      color="primary"
      style="color: white"
      (click)="clausePlayerOpenModal(false)"
    >
      {{ playerInfo.clause }}
    </button>
  </div>

  <div
    class="clause-option"
    *ngIf="
      playerInfo.ownerUsername != 'null' &&
      playerInfo.ownerIcon != 'null' &&
      playerInfo.ownerUUID == credentialsService.getUserUUID() &&
      activeClause()
    "
  >
    <h2>Your cluase for {{ playerInfo.username }}</h2>
    <h3>{{ playerInfo.clause }}</h3>

    <button
      mat-raised-button
      color="primary"
      style="color: white"
      (click)="clausePlayerOpenModal(true)"
    >
      UPDATE
    </button>
  </div>

  <!-- team info Option Section -->
</div>
