



<div class="showcase">
    <div class="box left">
        <h1 class="esf-title">eSports Fantasy</h1>
        <h2 class="esf-title">Coach the Team</h2>
        <p class="esf-text">eSports Fantasy is out now. Lead your dream team to the top and show your friends who is the best eSports coach.</p>

        <button class="esf-ibutton" (click)="goToLogin()">START A LEAGUE</button>

        
    </div>


    

    <div class="box right" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); overflow: hidden;">

        <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide><img src="../../assets/lec.jpg"></ng-template>  
            <ng-template carouselSlide><img src="../../assets/redbull.png"></ng-template>   
            <ng-template carouselSlide><img src="../../assets/val.jpg"></ng-template>   
        </owl-carousel-o>
    </div>
    
</div>


















<div class="container">
    <h1 class="esf-title">Leagues coverage</h1>
    <div class="leagues">
        <div class="league-row">
            <img class="league-logo" src="../../assets/league-icons/lck.png" alt="League 1">
            <img class="league-logo" src="../../assets/league-icons/esl.png" alt="League 2">
            <img class="league-logo" src="../../assets/league-icons/lvp.png" alt="League 3">
        </div>
        <div class="league-row">
            <img class="league-logo" src="../../assets/league-icons/blast.png" alt="League 4">
            <img class="league-logo" src="../../assets/league-icons/lec.png" alt="League 5">
            <img class="league-logo" src="../../assets/league-icons/european.png" alt="League 6">
        </div>
    </div>
</div>