<div class="showcase">
    <div class="box left">
        <h1>eSports Fantasy</h1>
        <h2>Coach the Team</h2>
        <p>eSports Fantasy is out now. Lead your dream team to the top and show your friends who is the best eSports coach.</p>

        <button class="esf-ibutton" (click)="goToLogin()">LOGIN</button>

        <button class="esf-ibutton esf-ibutton-followedH" (click)="goToRegister()">REGISTER</button>
    </div>
    <div class="box right">
        <img src="../../assets/showcase/fnatic.png">
    </div>
</div>

<div class="container">
    <h1 class="esf-title">Leagues coverage</h1>
    <div class="leagues">
        <div class="league-row">
            <img class="league-logo" src="../../assets/league-icons/lck.png" alt="League 1">
            <img class="league-logo" src="../../assets/league-icons/esl.png" alt="League 2">
            <img class="league-logo" src="../../assets/league-icons/lvp.png" alt="League 3">
        </div>
        <div class="league-row">
            <img class="league-logo" src="../../assets/league-icons/blast.png" alt="League 4">
            <img class="league-logo" src="../../assets/league-icons/lec.png" alt="League 5">
            <img class="league-logo" src="../../assets/league-icons/european.png" alt="League 6">
        </div>
    </div>
</div>