body,
html {
  height: 100%;
  margin: 0;
  background-color: #f5f7fa;
}

:root {
  background-color: #f5f7fa;
}

.esf-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #242221;
  text-align: center;
  margin-top: 2rem;
}

.showcase {
  display: flex;
  height: 100%;
  margin-left: 0;
  padding-left: 0;
  background-color: #f5f7fa;
}

.box {
  background-color: #f5f7fa;
  text-align: center;
  flex: 1;
  overflow: hidden;
  padding-left: 7%;
}

.left {
  padding-top: 4%;
  font-weight: 800;
  font-style: normal;
  flex: 0 0 50%;
}

.right {
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #f5f7fa;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

.leagues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2%;
  justify-items: center;
  align-items: center;
}

.league-logo {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.league-logo:hover {
  transform: scale(1.1);
}

@import "../../styles.scss";

@media (max-width: $mobilepx) {
  .showcase {
    display: block;
  }

  .left {
    text-align: center;
  }

  .right {
    visibility: hidden;
  }
}
