body, html {
    height: 100%;
    margin: 0;
    background-color: #F5F7FA;
}

:root{
    background-color: #F5F7FA;
}

.showcase {
    display: flex;
    height: 100%;
    margin-left: 0;
    padding-left: 0;
    display: hidden;
    background-color: #F5F7FA;

    
}


.box{
    background-color: #F5F7FA;
    text-align: center;
    flex: 1;
    overflow: hidden;
    padding-left: 7%   ;
    
    h1 {
        font-size: 350%;
        margin-bottom: 0;
    }

    h2 {
        font-size: 300%;
        margin-top: 0;
        color: #FF5900;
    }

    p{
        font-weight: 400;
        color: #535252;
        font-size: 130%;
    }

    button{
        margin-top: 8%;
    }

}


.left {
    padding-top: 4%;
    font-weight: 800;
    font-style: normal;
    flex: 0 0 50%;
}

.right {

    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #F5F7FA;
}


.register-showcase{
    margin-left: 20px ;
}









.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

.leagues {
    margin-top: 20px;
}

.league-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.league-logo {
    height: 150px;
    margin: 0 40px;
    object-fit: contain; /* Esta propiedad asegura que la imagen se ajuste dentro del tamaño especificado sin deformarse */
    max-width: 100%; /* Esto garantiza que la imagen no se extienda más allá de su tamaño original */
}



@import '../../styles.scss';

@media(max-width: $mobilepx) {
    .showcase{
        display: block;

        .left{
            text-align: center;
            p{
                margin-right: 0;
            }
            button{
                z-index: 0;
            }
        }

        .right{
            visibility: hidden;
            
        }
    }
}