<div class="showcase">
  <div class="box left">
    <h1 class="esf-title">eSports Fantasy</h1>
    <h2 class="esf-title">Coach the Team</h2>
    <p class="esf-text">
      eSports Fantasy is out now. Lead your dream team to the top and show your
      friends who is the best eSports coach.
    </p>

    <button class="esf-ibutton" (click)="goToLogin()">START A LEAGUE</button>
  </div>

  <div
    class="box right"
    style="
      clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
      overflow: hidden;
    "
  >
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img src="../../assets/lec.jpg"
      /></ng-template>
      <ng-template carouselSlide
        ><img src="../../assets/redbull.png"
      /></ng-template>
      <ng-template carouselSlide
        ><img src="../../assets/val.jpg"
      /></ng-template>
    </owl-carousel-o>
  </div>
</div>

<div class="container">
  <h1 class="esf-title">Leagues coverage</h1>
  <div class="leagues">
    <img
      class="league-logo"
      src="../../assets/league-icons/lck.webp"
      alt="League 1"
    />
    <img
      class="league-logo"
      src="../../assets/league-icons/esl.svg"
      alt="League 2"
    />
    <img
      class="league-logo"
      src="../../assets/league-icons/superliga.png"
      alt="League 3"
    />
    <img
      class="league-logo"
      src="../../assets/league-icons/slo.png"
      alt="League 4"
    />
    <img
      class="league-logo"
      src="../../assets/league-icons/l.png"
      alt="League 5"
    />
    <img
      class="league-logo"
      src="../../assets/league-icons/epl.png"
      alt="League 6"
    />
  </div>
</div>
