<div class="modal-container">
  <div class="container1"></div>

  <div class="logreg">
    <div class="logreg-text">
      <mat-card class="success-card">
        <mat-card-header style="display: flex; justify-content: center">
          <mat-card-title>Registration Successful</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>You have successfully registered!</p>
          <p>Now you can login and start playing!</p>
          &nbsp;
        </mat-card-content>
        <br />
        <mat-card-actions style="display: flex; justify-content: center">
          <button mat-raised-button color="primary" routerLink="/login">
            Go to Login
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
