<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
  "
>
  <div
    style="
      flex: 0 1 300px;
      display: flex;
      justify-content: center;
      margin-right: 40px;
    "
  >
    <img
      src="assets/me.jpg"
      alt="Alberto Plaza Montes"
      style="max-width: 100%; border-radius: 50%"
    />
  </div>

  <div
    style="
      flex: 0 1 600px;
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 10px;
      margin-left: 40px;
    "
  >
    <h2>Contact</h2>
    <p>
      My name is Alberto Plaza Montes, and I am a Computer Science student at
      ETSIIT. This application (EsportsFantasy) is part of my Bachelor's Final
      Project. You can find the documentation and the code in the links below:
    </p>
    <ul>
      <li>
        <a href="assets/TFG_Document.pdf" target="_blank"
          >Bachelor's Final Project (PDF)</a
        >
      </li>
      <li>
        <a href="https://github.com/username/esportsfantasy" target="_blank"
          >GitHub Repository</a
        >
      </li>
    </ul>
    <p>
      For any inquiries, feel free to contact me at: <br />
      <a href="mailto:albertoplazamontesdm@gmail.com"
        >albertoplazamontesdm&#64;gmail.com</a
      >
    </p>
  </div>
</div>
