<div class="user-info">
  <h2>User Information</h2>

  <div class="user-block-container">
    <div class="user-block">
      <div class="user-field">
        <img [src]="'data:image/png;base64,' + user.icon" alt="User Icon" />
      </div>
    </div>

    <div class="user-block">
      <div class="user-field">
        <span>{{ user.username }}</span>
      </div>
      <div class="user-field">
        <span>{{ user.mail }}</span>
      </div>
    </div>
  </div>
  <div class="edit-container">
    <div *ngIf="editing">
      <h3>Edit User Information</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="mail">Email:</label>
          <input
            type="email"
            id="mail"
            [(ngModel)]="user.mail"
            name="mail"
            required
          />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            [(ngModel)]="user.username"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="icon">Icon:</label>
          <input type="file" id="icon" (change)="onFileChange($event)" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div class="edit-button">
          <button mat-raised-button color="primary" style="color: white;" type="submit">Save Changes</button>
        </div>
      </form>
    </div>

    <p class="error">{{ error }}</p>
  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" style="color: white;" (click)="editUser()">Edit</button>
    <button mat-raised-button color="primary" style="color: white;" (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf="getLeagueList().length > 0" class="leagues-container">
  <h3>Your Leagues</h3>
  <div *ngFor="let league of getLeagueList()" class="league-item">
    <div class="league-info">
      <img [src]="league.icon" alt="League Icon" />
      <span>{{ league.leagueName }}</span>
    </div>

    <div class="code">
      <span>{{ league.code }}</span>
      <span class="sc">Share Code</span>
    </div>

    <button class="delete-button" (click)="leaveLeagueOpenModal(league)">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>
