
<p (click)="jj()">leagues</p>

<div class="flex justify-content-center">
    <p-accordion [activeIndex]="0" >
        <p-accordionTab header="Select a league type" [selected]="activeIndex === 0">
           
            <div  (click)="selectLeagueType(1)" [class.clicked]="leagueType === 1" class="type">
                <h4 class="esf-title">Crear mi liga 🚀</h4>
                <p class="esf-text">Crea tu propia liga pública para competir con los mejores o privada para demostrar a tus amigos quien es el mejor </p>
            </div>

            <div (click)="selectLeagueType(2)" [class.clicked]="leagueType === 2" class="type">
                <h4 class="esf-title">Unirme a una liga pública 🌍</h4>
                <p class="esf-text">Unete a una liga pública para competir con todo el mundo.</p>
            </div>

            <div (click)="selectLeagueType(3)" [class.clicked]="leagueType === 3" class="type">
                <h4 class="esf-title">Unirme a una liga de amigos 👨‍👩‍👧‍👦</h4>
                <p class="esf-text">Unete a la liga de un amigo para demostrar quien es el mejor.</p>
            </div>

        </p-accordionTab>
        <p-accordionTab [disabled]="getSelectGameDisabled()" header="Select a game" [selected]="activeIndex === 1">
            
                <div *ngFor="let game of games" class="list">
                    <div class="container" (click)="selectGame(game.game)" [class.clicked]="gameType == game.game">
                        <img src="{{game.icon}}" alt="{{game}} image">                    
                    </div>

                </div>
                
            
        </p-accordionTab>
        <p-accordionTab [disabled]="getSelectCompetitionDisabled()" header="Select a competition" [selected]="activeIndex === 2">
            <div *ngFor="let league of leagues" class="list">
                <div class="container" (click)="selectCompetition(league.competition.Uuid)" [class.clicked]="competition == league.competition.Uuid">
                    <img src="{{league.icon}}" alt="{{league.competition.ShortName}} image">    
                    <p>{{league.competition.ShortName}}</p>                
                </div>

            </div>
        </p-accordionTab>
        <p-accordionTab [disabled]="getSelectConfigurationDisabled()" header="Configuration" [selected]="activeIndex === 3">
            <form>
                <div class="form-group row mb-4">
                  <label for="leagueName" class="col-sm-3 col-form-label">League Name:</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="leagueName" name="leagueName" [(ngModel)]="leagueName" placeholder="Enter league name" required>
                  </div>
                </div>
                <div class="form-group row mb-4">
                  <label for="clauseActive" class="col-sm-3 col-form-label">Activate Clause Option:</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="clauseActive" name="clauseActive" [(ngModel)]="clauseActive">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row mb-4">
                  <label for="startType" class="col-sm-3 col-form-label">Starting Type:</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="startType" name="startType" [(ngModel)]="startType">
                      <option value="money">Only Money</option>
                      <option value="balance">Balance between Players and Money</option>
                    </select>
                  </div>
                </div>
              </form>
        </p-accordionTab>

        <p-accordionTab [disabled]="getCodeDisabled()" header="Introduce a code" [selected]="activeIndex === 4">
            <p class="esf-text">
                Introduce here the code your friend gave you to join his league.

                <input type="text" class="form-control" placeholder="Code" [(ngModel)]="code" name="code" required>
            </p>
        </p-accordionTab>
    </p-accordion>

    <div class="create-league-button">
        <button class="esf-ibutton">Continue</button>
    </div>
    
</div>
