.container {
  width: 75%;

  .playerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(242, 243, 247);

    .playerIcon {
      width: 150px;
      height: auto;
      background-color: rgb(242, 243, 247);
    }

    .playerInfo {
      display: flex;
      flex-direction: column;
      margin: 0.5vw 0.5vw;

      .playerUsername {
        font-size: 1vw;
        font-weight: bold;
      }

      .rtrow {
        display: flex;
        flex-direction: row;
        gap: 0.7vw;

        .role-icon {
          width: auto;
          height: 40px;
        }

        .role-noicon {
          background-color: gray;
        }

        .ownerSpan {
          font-weight: bold;
        }

        .teamicon {
          width: auto;
          height: 40px;
          // vertical-align: center; // No es necesario
        }
      }

      .PlayerPoints {
        display: flex;
        flex-direction: row;

        .points {
          border-radius: 5px;
          color: black;
          font-weight: bold;
          width: 25%;
          text-align: center;
          padding: 3% 5%;
          margin: 0 5px;
        }

        .points-green {
          background-color: green;
        }

        .points-orange {
          background-color: orange;
        }

        .points-red {
          background-color: red;
        }

        .points-gray {
          background-color: gray;
        }
      }
    }

    .price {
      // vertical-align: middle; // No es necesario
      margin: auto;
      border-radius: 5px;
      border: none;
      background-color: red;
    }
  }
}
