<div class="container">
  <div class="playerContainer sellButton" (click)="sellPlayerOpenModal()">
    <img [src]="'assets/icons/+.png'" alt="" class="playerIcon" />
    <div class="playerInfo">
      <p class="playerUsername">Add player</p>
    </div>
  </div>

  <div class="playerContainer" *ngFor="let offer of this.getOffers()">
    <img
      [src]="'data:image/png;base64,' + offer.playerIcon"
      alt=""
      class="playerIcon"
    />

    <div class="playerInfo">
      <p class="playerUsername">{{ offer.playerUsername }}</p>

      <div class="rtrow">
        <p><span class="ownerSpan"> bidder: </span>{{ offer.userName }}</p>
      </div>

      <div class="PlayerPoints">
        <ng-container *ngIf="offer.points && offer.points.length > 0">
          <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
            <p
              class="points"
              [ngClass]="{
                'points-red':
                  index < offer.points.length &&
                  offer.points[index] > 0 &&
                  offer.points[index] <= 30,
                'points-orange':
                  index < offer.points.length &&
                  offer.points > 30 &&
                  offer.points <= 50,
                'points-green':
                  index < offer.points.length && offer.points[index] > 50,
                'points-gray': index >= offer.points.length
              }"
            >
              {{ offer.points[index] || "-" }}
            </p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!offer.points || offer.points.length === 0">
          <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
            <p class="points points-gray">-</p>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="offer">
      <p class="offerText">Offers you</p>
      <p class="offerValue">{{ offer.offerValue }} 💵</p>
    </div>

    <div class="offerButtons">
      <button class="accept" (click)="acceptOffer(offer)">
        <i class="fa-solid fa-check"></i>
      </button>
      <button class="reject" (click)="rejectOffer(offer)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

  <div class="playerContainer" *ngFor="let player of getMarketPlayers()">
    <img
      src="{{ player.icon }}"
      alt=""
      class="playerIcon"
      (click)="gotoPlayerInfo(player.uuid)"
    />

    <div class="playerInfo">
      <p class="playerUsername">{{ player.name }}</p>

      <div class="rtrow">
        <img
          *ngIf="checkImageExists(player)"
          [ngClass]="{
            'role-icon': checkImageExists(player),
            'role-icon-unknown': !checkImageExists(player)
          }"
          [src]="'assets/positions-icons/' + player.role + '.webp'"
          [alt]="player.role"
          class="role-icon"
        />

        <p
          class="role"
          *ngIf="!checkImageExists(player)"
          [ngClass]="{
            'role-noicon': !checkImageExists(player)
          }"
        >
          {{ player.role }}
        </p>

        <img src="{{ player.teamicon }}" alt="" class="teamicon" />
      </div>

      <div class="rtrow">
        <p><span class="ownerSpan"> Owner: </span>{{ player.ownerUsername }}</p>
      </div>

      <div class="PlayerPoints">
        <ng-container
          *ngIf="player.pointsHistory && player.pointsHistory.length > 0"
        >
          <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
            <p
              class="points"
              [ngClass]="{
                'points-red':
                  index < player.pointsHistory.length &&
                  player.pointsHistory[index] > 0 &&
                  player.pointsHistory[index] <= 30,
                'points-orange':
                  index < player.pointsHistory.length &&
                  player.pointsHistory[index] > 30 &&
                  player.pointsHistory[index] <= 50,
                'points-green':
                  index < player.pointsHistory.length &&
                  player.pointsHistory[index] > 50,
                'points-gray': index >= player.pointsHistory.length
              }"
            >
              {{ player.pointsHistory[index] || "-" }}
            </p>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="!player.pointsHistory || player.pointsHistory.length === 0"
        >
          <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
            <p class="points points-gray">-</p>
          </ng-container>
        </ng-container>
      </div>

      <!--


        <div class="playerInfo">
            
            <p>{{player.role}}</p>
            <p>{{player.team}}</p>
            <p>{{player.price}}</p>
            <p>{{player.ownerUsername}}</p>
            <p>{{player.points}}</p>
        </div>
        -->
    </div>

    <button
      class="price"
      (click)="openModal(player)"
      *ngIf="player.ownerUUID != credentialsService.getUserUUID()"
    >
      {{ player.price }}
    </button>

    <button
      class="bin"
      (click)="cancelSell(player)"
      *ngIf="player.ownerUUID == credentialsService.getUserUUID()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>
