<div class="container">
  <div class="playerContainer" *ngFor="let player of getMarketPlayers()">
    <img src="{{ player.icon }}" alt="" class="playerIcon" />

    <div class="playerInfo">
      <p class="playerUsername">{{ player.name }}</p>

      <div class="rtrow">
        <img
          *ngIf="checkImageExists(player)"
          [ngClass]="{
            'role-icon': checkImageExists(player),
            'role-icon-unknown': !checkImageExists(player)
          }"
          [src]="'assets/positions-icons/' + player.role + '.webp'"
          [alt]="player.role"
          class="role-icon"
        />

        <p
          class="role"
          *ngIf="!checkImageExists(player)"
          [ngClass]="{
            'role-noicon': !checkImageExists(player)
          }"
        >
          {{ player.role }}
        </p>

        <img src="{{ player.teamicon }}" alt="" class="teamicon" />
      </div>

      <div class="rtrow">
        <p><span class="ownerSpan"> Owner: </span>{{ player.ownerUsername }}</p>
      </div>

      <div class="PlayerPoints">
        <ng-container
          *ngIf="player.pointsHistory && player.pointsHistory.length > 0"
        >
          <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
            <p
              class="points"
              [ngClass]="{
                'points-red':
                  index < player.pointsHistory.length &&
                  player.pointsHistory[index] > 0 &&
                  player.pointsHistory[index] <= 30,
                'points-orange':
                  index < player.pointsHistory.length &&
                  player.pointsHistory[index] > 30 &&
                  player.pointsHistory[index] <= 50,
                'points-green':
                  index < player.pointsHistory.length &&
                  player.pointsHistory[index] > 50,
                'points-gray': index >= player.pointsHistory.length
              }"
            >
              {{ player.pointsHistory[index] || "-" }}
            </p>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="!player.pointsHistory || player.pointsHistory.length === 0"
        >
          <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
            <p class="points points-gray">-</p>
          </ng-container>
        </ng-container>
      </div>

      <button class="price" (click)="openModal(player)">
        {{ player.price }}
      </button>

      <!--


        <div class="playerInfo">
            
            <p>{{player.role}}</p>
            <p>{{player.team}}</p>
            <p>{{player.price}}</p>
            <p>{{player.ownerUsername}}</p>
            <p>{{player.points}}</p>
        </div>
        -->
    </div>
  </div>
</div>
