.container {
  width: 75%;

  .sellButton:hover {
    cursor: pointer;
  }

  .playerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(242, 243, 247);

    .playerIcon {
      width: 150px;
      height: auto;
      background-color: rgb(242, 243, 247);
    }

    .playerIcon:hover {
      cursor: pointer;
    }

    .offerButtons {
      margin: auto 0.5vw;
      button {
        margin-inline: 0.5vw;
        padding: 0.5vw;
        border-radius: 5px;
        font-weight: bold;
      }

      .accept {
        background-color: green;
        color: white;
      }

      .reject {
        background-color: red;
        color: white;
      }
    }

    .offer {
      margin: auto 4vw;
      .offerText {
        font-size: 1vw;
        font-weight: bold;
      }

      .offerValue {
        font-size: 1vw;
        font-weight: bold;
      }
    }

    .playerInfo {
      display: flex;
      flex-direction: column;
      margin: 0.5vw 0.5vw;

      .playerUsername {
        font-size: 1vw;
        font-weight: bold;
      }

      .rtrow {
        display: flex;
        flex-direction: row;
        gap: 0.7vw;

        .role-icon {
          width: auto;
          height: 40px;
        }

        .role-noicon {
          background-color: gray;
        }

        .ownerSpan {
          font-weight: bold;
        }

        .teamicon {
          width: auto;
          height: 40px;
          // vertical-align: center; // No es necesario
        }
      }

      .PlayerPoints {
        display: flex;
        flex-direction: row;

        .points {
          border-radius: 5px;
          color: black;
          font-weight: bold;
          width: 25%;
          text-align: center;
          padding: 3% 5%;
          margin: 0 5px;
        }

        .points-green {
          background-color: green;
        }

        .points-orange {
          background-color: orange;
        }

        .points-red {
          background-color: red;
        }

        .points-gray {
          background-color: gray;
        }
      }
    }

    .val {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      h4 {
        font-size: 1vw;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }

    .price {
      font-size: 130%;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 5px;
      transition: font-size 0.3s ease, border-color 0.3s ease;
      padding: 10px;
    }

    .price:hover {
      cursor: pointer;
      font-size: 150%;
      border-color: lightgray;
    }

    .bin {
      margin: auto;
      border-radius: 5px;
      border: none;
      background-color: green;
      color: white;
      padding: 5px 10px;
    }
  }
}
