<div class="jour-selector">
  <mat-form-field>
    <mat-label>Current week</mat-label>
    <mat-select
      [(value)]="this.getTeamService().selectedJour"
      (selectionChange)="onSelectionChange($event)"
    >
      <mat-option
        *ngFor="let number of getTeamService().jourList"
        [value]="number"
      >
        {{ this.utilsService.jourPOParser(number) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="team-setter">
  <img [src]="getGameBackground()" alt="" class="background" />

  <div *ngFor="let index of [1, 2, 3, 4, 5]">
    <div
      class="in-team element-p pla-{{ index }}"
      [ngClass]="{
        'non-aligned': !getPlayerByPosition(index),
        aligned: getPlayerByPosition(index)
      }"
      (click)="openModal(index)"
    >
      <i
        class="fa-solid fa-plus"
        *ngIf="
          getLeagueCurrentJour() == this.getTeamService().selectedJour &&
          getEditableCurrentJour() &&
          !getPlayerByPosition(index)
        "
      ></i>

      <img
        [src]="'data:image/png;base64,' + getPlayerByPosition(index)?.icon"
        alt=""
        *ngIf="getPlayerByPosition(index)"
      />

      <div class="teamIcon-container">
        <img
          [src]="
            'data:image/png;base64,' + getPlayerByPosition(index)?.teamIcon
          "
          alt=""
          *ngIf="getPlayerByPosition(index)"
        />
      </div>

      <div class="points-container">
        <p
          *ngIf="getPlayerByPosition(index)"
          class="points"
          [ngClass]="{
            'points-red':
              getPlayerByPosition(index).points > 0 &&
              getPlayerByPosition(index).points <= 30,
            'points-orange':
              getPlayerByPosition(index).points > 30 &&
              getPlayerByPosition(index).points <= 50,
            'points-green': getPlayerByPosition(index).points > 50,
            'points-gray': !getPlayerByPosition(index).points
          }"
        >
          {{ getPlayerByPosition(index).points || "-" }}
        </p>
      </div>

      <p *ngIf="getPlayerByPosition(index)">
        {{ getPlayerByPosition(index).username }}
      </p>
    </div>
  </div>
</div>

<div class="bench-team">
  <div
    *ngFor="let player of getBenchTeamPlayers()"
    class="element-p bench-element"
  >
    <div *ngIf="player['jour'] == this.getTeamService().selectedJour">
      <img
        [src]="'data:image/png;base64,' + player.icon"
        alt=""
        class="avatar"
      />
      <p>{{ player.username }}</p>
    </div>
  </div>
</div>
