.esf-modal {
  background-color: rgb(255, 255, 255);

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
  }

  .input-div {
    text-align: center;
  }

  input {
    text-align: center;
    border: none;
    font-size: 1rem;
    outline: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;
  }

  input:focus {
    border-bottom-color: rgb(229, 80, 0);
  }

  button {
    background-color: rgb(229, 80, 0);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.5rem 4rem;
  }

  button:hover {
    background-color: rgb(255, 80, 0);
  }

  .players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .player {
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .player.selected {
    background-color: grey;
    border-color: grey;
  }

  .player:hover {
    border-color: black;
  }

  .player img.avatar {
    display: block;
    margin: 0 auto 10px auto;
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
  }

  .player-username {
    font-weight: bold;
  }
}
