
    <div class="showcase">
        <div class="box left">
            <h1>eSports Fantasy</h1>
            <h2>Coach the Team</h2>
            <p>eSports Fantasy is out now. Lead your dream team to the top and show your friends who is the best eSports coach.</p>

            <button class="esf-ibutton" (click)="openLoginModal()">LOGIN</button>

            <button class="esf-ibutton esf-ibutton-followedH" (click)="openRegisterModal()">REGISTER</button>
        </div>
        <div class="box right">
            <img src="../../assets/showcase/fnatic.png">
        </div>
    </div>

    <h1>imagenes del juego</h1>
    
   